{% extends "base.html.twig" %}

{% block vue %}
  <h2>Album "{{ album.nom }}" de {{ artiste }}</h2>

  <div id="reservations">
    {% if lesReservations is not empty %}
      <table class="table table-striped">
        <tr>
          <th>Heure</th>
          <th>Demande</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Téléphone</th>
          <th>email</th>
          <th>Commentaires</th>
          <th></th>
        </tr>
        
        {% for reservation in lesReservations %}
          <tr>
            <td>{{ reservation.heure|date('H') }}h{{ reservation.heure|date('i') }}</td>
            <td>{{ reservation.service }}</td>
            <td>{{ reservation.nom }}</td>
            <td>{{ reservation.prenom }}</td>
            <td>{{ reservation.telephone }}</td>
            <td>{{ reservation.email }}</td>
            <td class="commentaires"><p>{{ reservation.commentaire }}</p></td>
            <td class="boutons">
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_suppression_reservation_{{ reservation.id }}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
              <a href="{{ path('modifier_une_reservation', { 'id': reservation.id}) }}" class="btn btn-primary">
                <i class="glyphicon glyphicon-pencil"></i>
              </a>
              
              <div class="modal fade" id="modal_suppression_reservation_{{ reservation.id }}" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="gridSystemModalLabel">{{ reservation.heure|date('H') }}h{{ reservation.heure|date('i') }} : {{ reservation.prenom }} {{ reservation.nom }}</h4>
                    </div>
                    <div class="modal-body">
                      <p style="color:red;text-decoration:underline;">Attention</p>
                      <p>Vous êtes sur le point de supprimer une réservation!</p>
                    </div>
                    <div class="modal-footer">
                      <a href="{{ path('supprimer_une_reservation', {'id': reservation.id}) }}" class="btn btn-danger">Supprimer</a>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
            </td>
          </tr>
        {% endfor %}
      </table>
      
      <a href="{{ path('export', { 'idTournee': laTournee.id}) }}" class="btn btn-success">Export CSV</a>    
    {% else %}
      <p>Aucune réservation pour le moment pour cette tournée consulaire</p>
    {% endif %}
  </div>
{% endblock %}
